@use "../global/breakpoints" as b;
@import "../global/variables";

.app-bar {
  display: none;
  position: sticky;
  top: 70px;
  height: 100vh;

  @include b.breakpoint("768") {
    display: block;
  }

  .menu-mobile {
    ul {
      li {
        font-size: 37px !important;
        padding: 0.5rem 0 !important;
      }
    }
  }

  .menu {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;

    ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: start;
      gap: 0.5rem;
      width: 100%;

      li {
        list-style: none;
        padding: 0;
        font-size: 30px;
        width: 100%;
        position: relative;

        &:last-child {
          margin-top: 1.5rem;
          button {
            font-size: 17px;
            font-weight: 500;
          }
        }

        p {
          font-size: 17px;
        }

        a {
          color: rgba(0, 0, 0, 0.489);
          display: flex;
          align-items: center;
          justify-content: start;
          gap: 0.5rem;
          // padding: 1rem;
          height: 60px;
          width: 100%;
          text-align: start;
          padding: 0.5rem 1rem;
          border-radius: 100px;

          &:hover {
            background-color: rgba(62, 62, 62, 0.1019607843);
          }

          &.active {
            color: black;
            font-weight: 600;
            background-color: transparent;
          }
        }

        span {
          position: absolute;
          top: 110%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 15px;
          background-color: rgba(192, 192, 192, 0.812);
          padding: 0.2rem 0.5rem;
          border-radius: 10px;
          z-index: 2;
          color: $heading;
          font-weight: 600;

          visibility: hidden;
          opacity: 0;
        }
        &:hover span {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }

  .new-post {
    font-size: 16px;
    background-color: $heading;
    color: white;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    box-shadow: 0px 0px 10px $heading;
    margin: 0.5rem 1rem;
    cursor: pointer;
  }

  .porfile-container {
    position: absolute;
    bottom: 90px;
    left: 0;
  }

  .profile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 9px;
    cursor: pointer;
    background-color: #d1d5db;
    position: relative;

    .profile-img {
      width: 80%;
      height: 80%;
      margin: 0 auto;

      @include b.breakpoint("1280") {
        width: 35px;
        height: 35px;
        margin: 0;
      }
      border-radius: 40%;
      object-fit: cover;
    }
    p {
      font-size: 15px;
      font-weight: 600;
    }

    .threedots {
      width: 20px;
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 23px;
      line-height: 7px;
      z-index: 1;
    }
  }
}
