@use "../global/breakpoints" as b;
@import "../global/variables";

.app-bar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  justify-content: space-between;
  padding: 3rem 0;
  width: 100%;

  @include b.breakpoint("900") {
    display: none;
  }

  .logo {
    img {
      width: 100px;
      height: 100px;
      object-fit: contain;
      padding: 0.5rem;
      // background-color: rgba(62, 62, 62, 0.1019607843);
      border-radius: 100px;
    }
  }

  .menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: start;
      gap: 0.5rem;
      width: 100%;

      li {
        list-style: none;
        padding: 0;
        font-size: 30px;
        width: 100%;
        position: relative;

        p {
          font-size: 17px;
        }

        a {
          color: rgba(0, 0, 0, 0.489);
          display: flex;
          align-items: center;
          justify-content: start;
          gap: 0.5rem;
          // padding: 1rem;
          height: 60px;
          width: 100%;
          text-align: start;
          padding: 0.5rem 1rem;
          border-radius: 100px;

          &:hover {
            background-color: rgba(62, 62, 62, 0.1019607843);
          }

          &.active {
            color: black;
            font-weight: 600;
          }
        }

        span {
          position: absolute;
          top: 110%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 15px;
          background-color: rgba(192, 192, 192, 0.812);
          padding: 0.2rem 0.5rem;
          border-radius: 10px;
          z-index: 2;
          color: $heading;
          font-weight: 600;

          visibility: hidden;
          opacity: 0;

          // &::before {
          //   content: "";
          //   position: absolute;
          //   top: 0;
          //   left: 50%;
          //   width: 10px;
          //   height: 10px;
          //   transform: translate(-50%, 0%) rotate(45deg);
          //   background-color: rgba(192, 192, 192, 0.812);
          //   z-index: 1;
          // }
        }
        &:hover span {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }

  .new-post {
    font-size: 16px;
    background-color: $heading;
    color: white;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    box-shadow: 0px 0px 10px $heading;
    margin: 0.5rem 1rem;
    cursor: pointer;
  }

  .profil {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;

    // border: 1px solid $heading;
    padding: 0.5rem 1rem;
    margin: 0.5rem 1rem;
    border-radius: 20px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.122);

    img {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      object-fit: cover;
    }

    p {
      font-size: 15px;
      font-weight: 600;
    }
  }
}
