@use "../global/breakpoints" as b;
@import "../global/variables";

.header-container {
  display: none;
  @include b.breakpoint("768") {
    display: block;
  }
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #f9f9f9 !important;
}

.header {
  height: 70px;
  align-items: center;
}

.logo {
  height: 100%;

  img {
    width: auto;
    height: 70px;
    padding: 0.7rem 0;

    @include b.breakpoint("1280") {
      padding: 0.5rem 1rem;
    }
  }
}

.title {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
}

.search-header {
  width: 100%;
  display: none;

  @include b.breakpoint("1280") {
    display: block;
  }

  .form-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;

    .icon {
      width: 50px;
    }

    form {
      background-color: transparent;
      width: 100%;
      input {
        background-color: transparent;
        width: 100%;
        padding: 0.5rem 1rem;
        color: black;
      }
    }
  }
}
