@use "../global/breakpoints" as b;
@import "../global/variables";

.post {
  border-top: 1px solid #d2d2d293;
  width: 100%;
  min-height: 350px;

  color: white;
  padding: 2rem 0rem 2rem 0;

  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 0rem;
  align-items: flex-start;
  justify-content: space-between;

  position: relative;

  @include b.breakpoint("768") {
    padding: 2rem 2rem 2rem 0;
  }

  .user-detail {
    font-size: 17px;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 0.5rem;

    .user-first {
      font-weight: 600;
      color: black;
      line-height: 1;
    }
    .user-name {
      color: rgba(0, 0, 0, 0.387);
      font-weight: 500;
      line-height: 1;
    }
  }
  .date {
    color: rgba(0, 0, 0, 0.445);
  }

  .image {
    width: 100%;
    margin-bottom: 1rem;
  }

  img {
    min-width: 75%;
    max-width: 100%;
    min-height: 120px;
    max-height: 500px;
    object-fit: cover;
    border-radius: 20px;
  }

  .desc {
    font-size: 15px;
    padding: 0.5rem 1rem 1rem 0;
    color: black;

    @include b.breakpoint("768") {
      padding: 0rem 1rem 1rem 0;
    }
  }

  .actions {
    display: flex;
    align-items: center;

    gap: 0.5rem;
    width: 60%;

    @include b.breakpoint("768") {
      gap: 1rem;
    }

    div {
      color: black;
      flex-direction: row;
      display: flex;
      align-items: center;
      gap: 3px;
      font-size: 17px;
      padding: 0 0.7rem;
      background-color: white;

      &:nth-child(4) {
        display: none;
      }
      &:nth-child(5) {
        font-weight: 700;
        font-size: 20px;
      }
      @include b.breakpoint("768") {
        &:nth-child(4) {
          display: flex;
        }
        gap: 5px;
        font-size: 20px;
        padding: 0 1rem;
      }

      p {
        font-size: 15px;
      }
    }
  }
}

.user {
  width: 50px;
  height: 50px;
  background-position: center;
  background-size: cover;
  background-color: #9c9c9c3b;
  padding: 0.5rem;
  border-radius: 100px;
  cursor: pointer;
}

.post-more {
  position: absolute;
  top: 1rem;
  right: 0rem;
  font-size: 15px;
  color: black;
  cursor: pointer;
}
