@use "../global/breakpoints" as b;
@import "../global/variables";

.post {
  width: 100%;
  min-height: 350px;

  border-radius: 20px;
  color: white;
  padding: 2rem 2rem 2rem 0;

  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 0rem;
  align-items: flex-start;
  justify-content: space-between;

  @include b.breakpoint("700") {
    padding: 0 0 2rem 0;
  }

  .user-detail {
    font-size: 17px;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 0.5rem;

    .user-first {
      font-weight: 600;
      color: black;
      line-height: 1;
    }
    .user-name {
      color: rgba(0, 0, 0, 0.387);
      font-weight: 500;
      line-height: 1;
    }
  }
  .date {
    color: rgba(0, 0, 0, 0.445);
  }

  .image {
    width: 100%;
    margin-bottom: 1rem;
  }

  img {
    min-width: 75%;
    max-width: 100%;
    min-height: 120px;
    max-height: 500px;
    object-fit: cover;
    border-radius: 20px;

    @include b.breakpoint("500") {
      min-width: 75%;
      max-width: 100%;
      min-height: 170px;
      max-height: 500px;
      border-radius: 10px;
    }
  }

  .desc {
    font-size: 15px;
    padding: 0rem 1rem 1rem 0;
    color: black;
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 60%;

    @include b.breakpoint("500") {
      gap: 0.5rem;
    }

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      background-color: rgba(62, 62, 62, 0.1019607843);
      color: black;
      border-radius: 100px;
      padding: 0.5rem 3rem;
      cursor: pointer;
      font-size: 20px;

      @include b.breakpoint("700") {
        padding: 0.3rem 1.5rem;
      }
      @include b.breakpoint("500") {
        padding: 0.2rem 0.8rem;
        background-color: transparent;
      }

      p {
        font-size: 15px;
        @include b.breakpoint("500") {
          font-size: 13px;
        }
      }
    }
  }
}

.user {
  width: 50px;
  height: 50px;
  background-position: center;
  background-size: cover;
  background-color: #9c9c9c3b;
  padding: 0.5rem;
  border-radius: 100px;
  cursor: pointer;
}
