.featured-card {
  img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 15px;
    padding: 0.5rem 0 0 0;
  }

  .user-first {
    font-size: 15px;
    margin: 0 0 0.5rem 0;
  }

  .featured-card-user {
    grid-template-columns: 50px 1fr !important;
  }
}
