@use "../global/breakpoints" as b;
@import "../global/variables";

.top-post {
  min-height: 108px;
  padding-bottom: 1rem;

  .new-post {
    height: 100%;
    .top {
      display: grid;
      grid-template-columns: 50px 1fr;
      gap: 1rem;
      height: 100%;
      margin: 0.8rem 0;

      a {
        padding-top: 3px;
      }

      .tickltextarea {
        padding: 1rem;
        padding-left: 0;
        background-color: transparent;

        &::placeholder {
          color: rgba(0, 0, 0, 0.717);
        }

        &:focus {
          outline: none !important;
        }
      }

      .top-elms {
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;

        p {
          font-size: 19px;
          text-transform: capitalize;
        }

        .submitbtn {
          position: absolute;
          bottom: 1.5rem;
          right: 0;
        }
      }

      .top-elms-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 0.5rem;

        .top-elm-actions {
          display: flex;
          flex-direction: row;
          gap: 0.5rem;
          font-size: 15px;

          svg {
            color: #2a6da8;
            cursor: pointer;

            &:hover {
              background-color: #d1d5db;
            }
          }
        }
      }
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    }
  }
}

// image upload button
#imageupload {
  display: none;
}
