@use "../global/breakpoints" as b;
@import "../global/variables";

.top-post {
  .new-post {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include b.breakpoint("900") {
      display: none;
    }

    h2 {
      font-size: 30px;
      color: rgba(0, 0, 0, 0.546);
      cursor: pointer;
    }
    .search {
      font-size: 30px;
      cursor: pointer;
    }
  }
}
