@use "../global/breakpoints" as b;
@import "../global/variables";

.follow {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  @include b.breakpoint("768") {
    grid-template-columns: 1fr 15fr;
  }

  @include b.breakpoint("1280") {
    grid-template-columns: 0.35fr 1fr 350px;
    padding-top: 0;
  }

  .actual-follow {
    // padding: 0 0.5rem 0 0;
    // border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow: auto;
    overflow: hidden;

    .tab {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      justify-content: center;
      border-radius: 20px;
      overflow: hidden;

      p {
        text-align: center;
        padding: 1rem;
        font-size: 17px;
        cursor: pointer;
        font-weight: 600;

        &:nth-child(1) {
          border-right: 1px solid $heading;
        }
        &.active {
          background: #3e3e3e1a;
        }
      }
    }
  }
}
