@use "../global/breakpoints" as b;
@import "../global/variables";

.home {
  display: grid;
  grid-template-columns: 0.35fr 1fr 350px;
  gap: 2rem;
  position: relative;

  @include b.breakpoint("1300") {
    gap: 1.5;
  }
  @include b.breakpoint("1200") {
    gap: 1rem;
    grid-template-columns: 1fr 3fr;
  }
  @include b.breakpoint("900") {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .actual-home {
    padding: 0 0.5rem 0 0;
    display: flex;
    flex-direction: column;
    // gap: 2rem;

    overflow: auto;
    overflow-x: hidden;

    @include b.breakpoint("900") {
      padding: 0 1rem;
      margin: 0;
      gap: 1rem;
    }
  }
}
