@use "../global/breakpoints" as b;
@import "../global/variables";

.home {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  position: relative;

  @include b.breakpoint("768") {
    grid-template-columns: 1fr 15fr;
  }

  @include b.breakpoint("1280") {
    grid-template-columns: 0.35fr 1fr 350px;
    padding-top: 0;
  }

  .actual-home {
    // padding: 0 0.5rem 0 0;
    display: flex;
    flex-direction: column;

    // overflow: auto;
    overflow: hidden;
  }
}
