@use "../global/breakpoints" as b;
@import "../global/variables";

.loginpages-container {
  background: white;

  width: 100%;
  min-height: 100vh;
  color: black;

  .loginpages-content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;

    @include b.breakpoint("1280") {
      grid-template-columns: 58fr 32fr;
    }

    .forms-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .brand {
      position: relative;
      display: none;
      flex-direction: column;
      gap: 1rem;
      align-items: flex-start;
      justify-content: center;
      color: white;
      width: 500px;

      @include b.breakpoint("1280") {
        display: flex;
      }

      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: -2rem;
      }

      img {
        height: 400px;
        width: auto;
      }
      h3 {
        font-size: 38px;
        color: $heading;
      }
    }

    .testimonials {
      position: relative;
      display: none;
      flex-direction: column;
      gap: 1rem;
      align-items: flex-start;
      justify-content: center;
      color: white;
      margin-top: -20vh;
      width: 400px;

      @include b.breakpoint("1280") {
        display: flex;
        display: none; //
      }

      .quote-icon {
        font-size: 60px;
      }
      .quote-text {
        font-size: 21px;
        font-weight: 600;
      }
      .quoter {
        margin-top: 1rem;

        h4 {
          font-size: 18px;
          text-transform: capitalize;
        }
        p {
          font-size: 15px;
          text-transform: capitalize;
        }
      }

      // partners
      .partners {
        display: none;
        position: absolute;
        bottom: 3rem;
        width: 100%;

        .line-partners {
          width: 100%;
          display: grid;
          grid-template-columns: 1fr 100px 1fr;
          align-items: center;
          justify-content: center;

          span {
            display: block;
            width: 100%;
            height: 1px;
            background-color: rgba(255, 255, 255, 0.426);
          }
          p {
            text-align: center;
          }
        }

        .partners-list {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          gap: 0.2rem;
          align-items: center;
          justify-content: center;
          padding: 1rem 0;

          p {
            text-align: center;
          }
        }
      }
    }
  }
}

.login-content {
  width: 80%;
  display: flex;
  flex-direction: column;

  @include b.breakpoint("768") {
    width: 350px;
  }
}

// layer
.big-layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 100%;
  background-position: calc(50% - 214px) -216px;
  background-size: 1344px 1315px;
  background-repeat: no-repeat;

  @include b.breakpoint("1280") {
    background-position: calc(50% - 554px) -216px;
  }
}

// logo
.login-logo {
  position: absolute;
  top: 1rem;
  left: 2rem;
  z-index: 10;

  img {
    width: 130px;
    height: auto;

    @include b.breakpoint("768") {
      width: 180px;
      display: none; //
    }
  }
}
