@use "../global/breakpoints" as b;
@import "../global/variables";

.settings-page-desk {
  display: grid;
  grid-template-columns: 197px 1fr;
  gap: 3rem;
}
.settings-page-mob {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
}

.actual-settings-page {
  // padding: 0 0.5rem 0 0;
  // border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow: auto;
  overflow-x: hidden;

  .settings-page-container-mob {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
  }

  .settings-page-container-desk {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    height: 100%;
  }

  .hide-on-sub {
    display: none;
  }

  .settings-options,
  .settings-values {
    border-right: 1px solid rgba(62, 62, 62, 0.1019607843);
    height: 100%;
    overflow: auto;
  }

  .settings-options {
    border-left: 1px solid rgba(62, 62, 62, 0.1019607843);

    .settings-account-informations {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      a {
        border-bottom: 1px solid rgba(62, 62, 62, 0.1019607843);

        @include b.breakpoint("768") {
          border-bottom: none;
        }
        &.active {
          background-color: #d1d5db;
          border-right: 2px solid $heading;
        }
      }

      .items {
        display: grid;
        grid-template-columns: 8% 1fr 5%;
        padding: 1rem;
        cursor: pointer;
        font-size: 20px;
        background-color: transparent;

        &:hover {
          opacity: 0.8;
        }

        div {
          color: black;
          font-size: 15px;
          text-transform: capitalize;
          pointer-events: none;
        }
        svg {
          pointer-events: none;
        }
      }
    }
  }

  .settings-values {
    padding: 0 1.5rem;
  }
}
